<!doctype html>
<html class="no-js" lang="bn">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Skin-O-Vis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">



    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ss/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/nice-select.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/flaticon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/gijgo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/slicknav.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

</head>

<body>
    <div id="preloader"></div>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div>
                        <div class="main-menu1">
                            <nav>
                                <ul id="lang">
                                    <li><a href="{{ url_for('index') }}">English</a></li>
                                    <li><a href="{{ url_for('index_hindi') }}">हिंदी</a></li>
                                    <li><a href="{{ url_for('index_bengali') }}">বাংলা</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="{{ url_for('index_bengali') }}">
                                    <img  class="img1" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="{{ url_for('index_bengali') }}">হোম</a></li>
                                                <li><a href="{{ url_for('model_bengali') }}">মডেল</a></li>
                                                <li><a href="{{ url_for('index_bengali') }}">রোগ<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="https://www.mayoclinic.org/diseases-conditions/actinic-keratosis/symptoms-causes/syc-20354969" target="_blank">অ্যাক্টিনিক কেরাটোসিস</a></li>
                                                        <li><a href="https://www.mayoclinic.org/diseases-conditions/basal-cell-carcinoma/symptoms-causes/syc-20354187" target="_blank">বেসাল সেল কার্সিনোমা</a></li>
                                                        <li><a href="https://www.mayoclinic.org/diseases-conditions/seborrheic-keratosis/symptoms-causes/syc-20353878" target="_blank">বিনাইন কেরাটোসিস</a></li>
                                                        <li><a href="https://emedicine.medscape.com/article/1056742-overview" target="_blank">ডার্মাটোফাইব্রোমা</a></li>
                                                        <li><a href="https://emedicine.medscape.com/article/1058445-overview" target="_blank">মেলানোসাইটিক নেভি</a></li>
                                                        <li><a href="https://en.wikipedia.org/wiki/Vascular_tumor" target="_blank">ভাস্কুলার লেশনস</a></li>
                                                        <li><a href="https://www.mayoclinic.org/diseases-conditions/melanoma/symptoms-causes/syc-20374884" target="_blank">মেলানোমা</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{{ url_for('about_bengali') }}">আমাদের সম্পর্কে</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="book_room">
                                        <div class="book_btn">
                                            <a class="popup-with-form" href="#detection">চিত্র শনাক্তকরণ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <span>আরোগ্য ও সুস্থ জীবনের আর এক নাম</span>
                                <img  class="img2" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                                <h3>চর্মরোগ নির্ণয় বিশেষজ্ঞ</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="welcome_clicnic_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="{{ url_for('static', filename='img/about/1.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        <h3><span>স্কিন-ও-ভিস-এ</span>আপনাকে স্বাগত</h3>
                        <p>আমরা এখানে আপনাদের পেয়ে আনন্দিত। আমাদের লক্ষ্য চর্মরোগ শনাক্তকরণ সহজ ও নির্ভরযোগ্য করা। আমরা আপনার সুস্থতার কথা মাথায় রেখে স্কিন-ও-ভিস ওয়েবসাইটটি তৈরি করেছি। আসুন আমরা একসাথে এক রোগমুক্ত ও সুস্থ সমাজ গড়ে তোলার লক্ষ্যে এগিয়ে যাই।</p>
                        <ul>
                            <li> <i class="flaticon-verified"></i> সুনির্দিষ্ট এবং নির্ভরযোগ্য চর্মরোগ শনাক্তকরণ </li>
                            <li> <i class="flaticon-verified"></i>একাধিক কৃত্রিম বুদ্ধিমত্তাসম্পন্ন মডেলের সাহায্যে রোগনির্ণয়</li>
                            <li> <i class="flaticon-verified"></i> কৃত্রিম বুদ্ধিমত্তাসম্পন্ন ভাষা মডেলের সমন্বয়</li>
                            <li> <i class="flaticon-verified"></i> সহজে ব্যবহারযোগ্য ইন্টারফেস</li>
                        </ul>
                        <a href="{{ url_for('about_bengali') }}" class="boxed-btn6">আমাদের সম্পর্কে</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="depertment_area" id="dis">
        <div class="container">
            <div class="row custom_align align-items-end justify-content-between">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>শনাক্তকরণযোগ্য রোগসমূহ</h3>
                        <p>আমাদের রোগনির্ণয় ক্ষমতার এক ঝলক</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="depart_ment_tab mb-30">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://www.mayoclinic.org/diseases-conditions/actinic-keratosis/symptoms-causes/syc-20354969" target="_blank">
                                            <h4 class="text-white text-center">অ্যাক্টিনিক কেরাটোসিস</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://www.mayoclinic.org/diseases-conditions/basal-cell-carcinoma/symptoms-causes/syc-20354187" target="_blank">
                                            <h4 class="text-white text-center">বেসাল সেল কার্সিনোমা</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://www.mayoclinic.org/diseases-conditions/seborrheic-keratosis/symptoms-causes/syc-20353878" target="_blank">
                                            <h4 class="text-white text-center">বিনাইন কেরাটোসিস</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://emedicine.medscape.com/article/1056742-overview" target="_blank">
                                            <h4 class="text-white text-center">ডার্মাটোফাইব্রোমা</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12 box-h"></div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://emedicine.medscape.com/article/1058445-overview" target="_blank">
                                            <h4 class="text-white text-center">মেলানোসাইটিক নেভি</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://en.wikipedia.org/wiki/Vascular_tumor" target="_blank">
                                            <h4 class="text-white text-center">ভাস্কুলার লেশনস</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="https://www.mayoclinic.org/diseases-conditions/melanoma/symptoms-causes/syc-20374884" target="_blank">
                                            <h4 class="text-white text-center">মেলানোমা</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="box-style">
                                        <a href="javascript:void(0);" onclick="return false;">
                                            <h4 class="text-white text-center">সুস্থ ত্বক</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="llm2"></div>


    <div class="book_apointment_area" id="detection">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="popup_box ">
                        <div class="popup_inner">
                            <h3>
                                	চর্মরোগ
                            <span>শনাক্তকরণ</span>
                            </h3>
                            <h4 style="color:black;">একটি ক্লিক-এ, সুস্থতার লক্ষ্যে</h4>
                            <br>
                            <form action="/upload_beng" id="upload-file"  method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <input type="text" name="name"  placeholder="আপনার নাম">
                                    </div>
                                    <div class="col-xl-3">
                                        <input type="text" name="age"  placeholder="আপনার বয়স">
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" name="phone"  placeholder="ফোন নম্বর">
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="email" name="email"  placeholder="ইমেল ঠিকানা">
                                    </div>
                                    <div class="col-xl-12 form-group">
                                        <select class="form-control" id="exampleFormControlSelect1" name="model">
                                          <option>Custom CNN</option>
                                          <option>YOLOv8</option>
                                          <option>Majority Voting</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-12" class="custom-file">
                                        <input type="file" name="files[]"  id="customFile" multiple>
                                    </div>
                                    <div class="col-xl-12">
                                        <a href="https://youtu.be/V4VAc0rfeps" class="btn btn-primary" style="margin-bottom: 20px;">ডেমো ভিডিও দেখুন</a>
                                    </div>
                                    <div class="col-xl-12" id="submitButtonContainer">
                                        <button type="submit" class="boxed-btn3" id="submitBtn" onclick="captureChoice()">Click to proceed</button>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="loading-spinner" id="loadingSpinner"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.getElementById("submitBtn").addEventListener("click", function(event) {
            document.getElementById("submitButtonContainer").style.display = "none";
            // Show the loading spinner
            document.getElementById("loadingSpinner").style.display = "block";
        });
    </script>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10" id="llm">
                <div class="section_title mb-55 text-center" id="Lama" style="padding-top: 50px;">
                    <h3>স্কিন-ও-ভিস নলেজহাব</h3>
                    <br>
                    <p style="font-style: bold;">LLAMA2: কথোপকথনের মাধ্যমে স্বাস্থ্যসেবার উন্নতি</p>
                </div>
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    <input type="text" id="prompt-input" class="form-control" placeholder="প্রশ্ন জিজ্ঞাসা করুন...">
                </div>
                <div class="llm1"></div>
                <div><button id="generate-button" class="btn btn-primary" onclick="generateText()">জমা করুন</button></div>
                <div id="response-output" style="color: white;"></div>
                <div class="llm1"></div>
                <button id="regenerate-button" class="btn btn-secondary" style="display:none;" onclick="regenerateText()">পরবর্তী প্রশ্ন জিজ্ঞাসা করুন</button>
            </div>
        </div>
    </div>
    <div class="llm1"></div>
    <div class="llm1"></div>
    <div class="llm1"></div>
    <div class="llm1"></div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function setLoadingState() {
            $("#response-output").html("Generating Response...");
            $("#generate-button").hide();
            $("#regenerate-button").hide();
        }

        function generateText() {
            setLoadingState();

            const promptInput = $("#prompt-input").val();
            $.ajax({
                type: "POST",
                url: "/get_response",
                data: { prompt_input: promptInput },
                success: function (data) {
                    $("#response-output").html(data.response);
                    $("#generate-button").hide();
                    $("#regenerate-button").show();
                },
            });
        }

        function regenerateText() {
            setLoadingState();

            $("#prompt-input").val(""); // Clear the input field
            $("#response-output").empty(); // Clear the response output
            $("#generate-button").show();
            $("#regenerate-button").hide();
        }
    </script>


    <div class="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <p style="color: #FF6969; font-size: 12px;">সতর্কতামূলক বিবৃতি: এই ওয়েবসাইট শুধুমাত্র শিক্ষাগত এবং তথ্যগত উদ্দেশ্যে তথ্য প্রদান করে। এটি পেশাদার চিকিৎসা পরামর্শ, রোগ নির্ণয় বা চিকিৎসার বিকল্প নয়। যেকোনো চিকিৎসা সংক্রান্ত উদ্বেগের জন্য একজন যোগ্য স্বাস্থ্যসেবা প্রদানকারীর সাথে পরামর্শ করুন।</p>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12 justify-content-center">
                        <p class="copy_right text-center">
                            <p style="color: white;">আপনার সুস্থতার প্রতিশ্রুতি,❤️ Team Elixir</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script>
        function getAnswer() {
            const questionInput = document.getElementById("question-input").value;
            const answerOutput = document.getElementById("answer-output");
            const getAnswerButton = document.getElementById("get-answer-button");
            const regenerateButton = document.getElementById("regenerate-button");

            // Replace this with actual code to fetch the answer from your language model.
            // For simplicity, we'll just echo back the question as the answer in this example.
            answerOutput.innerHTML = "Answer: " + questionInput;

            // Hide the "Get Answer" button and show the "Regenerate" button
            getAnswerButton.style.display = "none";
            regenerateButton.style.display = "inline";
        }

        function regenerateQuestion() {
            const questionInput = document.getElementById("question-input");
            const answerOutput = document.getElementById("answer-output");
            const getAnswerButton = document.getElementById("get-answer-button");
            const regenerateButton = document.getElementById("regenerate-button");

            // Clear the input field and answer output
            questionInput.value = "";
            answerOutput.innerHTML = "";

            // Hide the "Regenerate" button and show the "Get Answer" button
            regenerateButton.style.display = "none";
            getAnswerButton.style.display = "inline";
        }
    </script>




    <script src="{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{ url_for('static', filename='s/isotope.pkgd.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script src="{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/scrollIt.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/nice-select.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{ url_for('static', filename='js/gijgo.min.js') }}"></script>
    <!--contact js-->
    <script src="{ url_for('static', filename='js/contact.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script src="{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{ url_for('static', filename='js/mail-script.js') }}"></script>
    <script src="{ url_for('static', filename='js/main.js') }}"></script>

    <script>
    // JavaScript function to capture the selected choice and submit the form
    function captureChoice() {
        var selectedChoice = document.getElementById("choices").value;
        document.getElementById("selected_choice").value = selectedChoice;
        document.getElementById("upload-file").submit();
    }
    </script>


    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load",function(){loader.style.display = "none"})
    </script>
</body>

</html>